@import url('https://fonts.googleapis.com/css2?family=Jeju+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import "tailwindcss";

@theme{

  /* --color-: linearGradient(to bottom, #02191d, #072d33) */
  /* for bg-header */
  --color-light-green:#031e23;
  --color-deep-green: #02191d;
  --color-next-green:#24a0b5;
  --color-mid-green:#0d373f;
  --color-btn-green:#12464E;
  --color-mild-green:#197686;
  --font-roboto: "Roboto", sans-serif;
  --font-jeju:'JejuMyeongjo',"poppins"



  
}


@layer components{
  .invalid{
    display: inline-flex;
    color: red;
  }

  input[type="file"]{
      display: none;
  }
  #uploadLabel{
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 1.4rem;
    background-color: transparent;
    font-size: 1rem;
    user-select: none;
    border-radius: 5px;
  }

  button:disabled{
    color: red;
    pointer-events: none;
    cursor:not-allowed;
  }
/* bg-linear-to-b from-deep-green to to-mid-green */

.bg-image{
  background: url(${uploadedImageUrl});
  height: 300px;
}

.parentCard{
    background: url('/bg.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

  }
 

}